.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

.question-answer {
  width: 800px;
  margin: auto;
  margin-top: 100px;
}

.question-card {
  text-align: center;
}

.dashboard-username, .dashboard-name {
  font-size: 30px;
  line-height: 1em;
  padding: 10px;
}

.question {
  display: block;
  font-size: 24px;
  line-height: 1em;
  margin: 50px;
}

.response-section {
  padding: 20px;
}

.correct-response {
  color: green;
  font-size: 18px;
}

.incorrect-response {
  color: red;
  font-size: 18px;
}


.answer {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.submit-button {
  margin-bottom: 50px;
}

.submit-button:hover {
  cursor: pointer;
}

.q-correct, .q-total {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

/* =====RESPONSIVE MEDIA QUERIES===== */

@media only screen and (max-width: 850px) {

  .question-answer {
    width: 90vw;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .question {
    width: 100%;
    margin: auto;
    padding: 40px 0px;
    font-size: 22px;
  }


}