.header-bar {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  border-bottom: 2px solid black;
}

.logout-button {
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 700;
}