.header-bar {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  border-bottom: 2px solid black;
}

<<<<<<< HEAD
.logout-section {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

=======
>>>>>>> a9378c4e7279c3919504367e3b5625e5424de718
.logout-button {
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 700;
<<<<<<< HEAD
}

.header-username, .header-name {
  font-size: 18px;
  padding: 10px;
  margin-right: 20px;
=======
>>>>>>> a9378c4e7279c3919504367e3b5625e5424de718
}