.home {
  /* display: flex; */
  /* flex-direction: row; */
}

.title-section {
  text-align: center;
}

.welcome-section {
  display: flex;
  flex-direction: row;
}

.login {
  display: flex;
  justify-content: center;

}

.info-section {
  padding-top: 100px;
  margin: auto;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

.center-info-block {
  border-left: 2px solid black;
  border-right: 2px solid black;
}