body {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.app {
  
}

/* FORMS */

input {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  padding: 10px;
}

form {
  
}

button {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}




/* CSS GRID SYSTEM */

.row {
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-8, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  width: 100%;
}

.col-3, .col-4, .col-6, .col-8, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  .col-8 {
    width: 66.66%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}